#back-template {
    #home-content {
        >.row {
            margin: 0 0 0 20px;
            text-align: center !important;

            [class^="col-"] {
                padding: 0 20px 0 0 !important;
                margin-top: 20px;
            }
            .wrapper {
                background-color: #fff;
                @include customize-boxshadow(5px);
            }
            &:last-of-type {
                .col-6 {
                    margin-top: 40px;
                }
            }
        }
        #chart2,
        #viewers {
            width: 300px;
            height: 280px;
            >div {
                @include customize-boxshadow(5px);
            }
        }
        .icon_home {
            padding: 2% 4%;
            width: 60px;
            object-fit: cover;
            object-position: center;
        }
        .col-3 {
            .wrapper {
                padding: 10px;
                height: 175px;
                display: flex;
                .content {
                    margin: auto;
                }
            }
            >* {
                text-align: center;
            }
            p {
                font-size: 0.96em;
            }
        }
        .comment {
            .wrapper {
                position: relative;
                height: 230px;
                display: flex;
                >ul {
                    margin: auto;
                    font-size: 0.9em;
                    li {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 5px;
                        >* {
                            margin: auto;
                        }
                    }
                }
            }
        }
        #orange-block {
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            margin: auto;
            background-color: $main-orange;
            margin-top: 0;
            width: 75%;
            z-index: 1;
            p {
                padding: 10px 5px;
            }
        }
    }
}

@media screen and (max-width: 1410px) {
    #backend-template {
        #home-content {
            .col-3 {
                p {
                    font-size: 0.7em;
                }
                >* {
                    float: none;
                    clear: both;
                    padding: 11px 9px;
                }
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    #back-template {
        .col-10 {
            flex-basis: 100%;
        }
    }
}

@media screen and (max-width: 1102px) {
    #backend-template {
        #orange-block {
            width: 87% !important;
            p {
                font-size: 0.8em;
            }
        }
        .comment {
            >ul {
                font-size: 0.7em !important;
            }
        }
        .icon_home {
            width: 40px !important;
        }
    }
}

@media screen and (max-width: 821px) {
    #backend-template {
        #home-content {
            .comment {
                margin-top: 3.4%;
            }
        }
    }
}
