#back-template {
    #settings-back {
        h1 {
            margin: 1px 0.5;
        }
        hr {
            border: 1px solid $color-grey;
            width: 95%;
            margin-left: 2%;
        }

        .col-12 {
            width: 100%;
            border: 1px solid $color-grey;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            @include customize-boxshadow(5px);

            form input:not([type="submit"]) {
                padding: 5px 2px 5px 8px;
                border: 1px solid $main-grey-light;
                
            }

            form {
                input, select {
                    font-family: "Nunito";
                    font-size: 1em;
                    border-radius: 10px;
                }

                input:focus {
                    border-color: $main-orange;
                }
                
                .button {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            form input[type="radio"] {
                display: inline-block;
                margin-left: 110px;
            }

            form input[type="file"] {
                visibility: hidden;
            }

            .radio_div, form input {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                justify-content: center;
                align-items: center;
            }

            .p_radio {
                text-align: center;
                margin-bottom: 6px;
                display: block;
                
            }
            .radio {
                margin-left: 5px;
                margin-right: 5px;
                margin-top: 2px;
                padding: 10px;
                border: 1px solid $main-grey-light;
            }

            .control-group {
                margin-left: 10px;
                margin-bottom: 10px;
            }

            .message {
                width: 60%;
                margin: 1% auto;
                p {
                    margin: auto;
                }
            }

            #img_modal {
                max-width: 250px;
                max-height: 150px;
            }
        }

    }
}
