#menu {
    &-edit {
        .group {
            position: relative;
            margin-top: 20px;
            margin-bottom: 5px;
        }
        .col-2 {
            .wrapper {
                padding-left: 1em;
                display: flex;
                flex-direction: column;
                #button-actions {
                    display: flex;
                    flex-direction: column;
                    .button {
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
                .info {
                    text-align: center;
                }
                p {
                    font-size: 1.2em;
                    color: $main-orange;
                    font-weight: bold;
                    padding-bottom: 0.5em;
                }
            }
        }
        form {
            #categories-choice {
                .list {
                    overflow-y: scroll;
                    height: 230px;
                    padding-top: 15px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    @include customize-boxshadow(5px);
                    @include scroll-bar();
                }
            }
            #featured-image {
                .image-preview {
                    margin: 10px 0 2em 0;
                    border: dashed 4px $main-grey;
                    height: 200px;
                    max-width: 300px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    transition: all 0.2s ease-in-out;
                    img {
                        width: 100%;
                        z-index: 1;
                    }
                    a {
                        z-index: 0;
                        display: flex;
                        width: 100px;
                        margin: auto;
                        text-align: center;
                        color: $main-grey;
                        font-size: 1em;
                        transition: all 0.2s ease-in-out;
                        transform: scale(1.5);
                    }
                    &:hover {
                        border-color: darken($main-grey, 30%);
                        a {
                            color: darken($main-grey, 30%);
                        }
                    }
                }
            }
            margin: 0 18px 0;
            label {
                position: relative;
                display: block;
                p {
                    color: $main-orange;
                    opacity: 1;
                    position: absolute;
                    pointer-events: none;
                    left: 5px;
                    top: 15px;
                    transition: all 0.2s ease-out;
                }
                &.up {
                    p {
                        top: -20px;
                        font-size: 0.8em;
                    }
                    .bar {
                        &::before,
                        &::after {
                            width: 50%;
                        }
                    }
                    .line-right-left {
                        -webkit-animation: lineRightLeft 0.5s ease;
                        -moz-animation: lineRightLeft 0.5s ease;
                        animation: lineRightLeft 0.5s ease;
                    }
                }
            }
            .bar {
                display: block;
                width: 100%;
                &:before,
                &:after {
                    content: '';
                    height: 2px;
                    width: 0;
                    bottom: 0;
                    position: absolute;
                    background: $main-orange;
                    transition: 0.2s ease all;
                    -moz-transition: 0.2s ease all;
                    -webkit-transition: 0.2s ease all;
                }
                &::before {
                    left: 50%;
                }
                &::after {
                    right: 50%;
                }
            }
            .line-right-left {
                position: absolute;
                height: 60%;
                width: 100px;
                top: 25%;
                left: 0;
                pointer-events: none;
                opacity: 0.5;
            }
            input {
                z-index: 2;
                font-size: 1em;
                transition: all 0.2s ease-in-out;
                &[type="text"] {
                    width: 100%;
                    display: inline-block;
                    border: none; // border-bottom: 1px solid rgba(213, 209, 209, 0.9);
                    outline: 0;
                    box-sizing: border-box;
                }
            }
            textarea {
                resize: vertical;
                width: 100%;
                border: none;
                &:focus {
                    outline: none;
                }
            }
            input,
            textarea {
                padding: 12px 20px; // margin: 0 0 15px 0;
                font-size: 1em;
                font-family: 'Nunito', sans-serif !important;
            }
            input,
            textarea,
            #form-content {
                @include customize-boxshadow(5px);
                &:focus {
                    @include customize-boxshadow(10px);
                }
            }
            /* ANIMATIONS ================ */
            @-webkit-keyframes lineRightLeft {
                from {
                    background: $main-orange;
                }
                to {
                    width: 0;
                    background: transparent;
                }
            }
            @-moz-keyframes lineRightLeft {
                from {
                    background: $main-orange;
                }
                to {
                    width: 0;
                    background: transparent;
                }
            }
            @keyframes lineRightLeft {
                from {
                    background: $main-orange;
                }
                to {
                    width: 0;
                    background: transparent;
                }
            }
        }
    } // page.view.php styles
    form {
        img {
            height: 39px;
            display: none;
        }
        #actions {
            display: flex;
            height: 38px;
            input {
                margin: 0;
                font-family: 'Nunito', sans-serif;
                font-size: 18px;
                padding: 0 10px;
                outline: none;
            }
            #loader-perform {
                margin-left: 10px;
            }
            #message-info {
                display: none;
                margin: 0;
                margin-left: 7px;
                width: auto;
                min-height: 40px;
                padding: 0 10px;
                span {
                    color: #31708f;
                    line-height: 38px;
                }
            }
        }
        .selects {
            margin: 0 15px 20px;
            #lists {
                margin-bottom: 0.5em;
                a {
                    color: $main-orange;
                    font-weight: bold;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        color: $main-black;
                    }
                }
            }
            /* Reset Select */
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                outline: 0;
                box-shadow: none;
                border: 0 !important;
                background: #eee;
                background-image: none;
                height: 100%;
                margin: 0;
                padding: 0 0 0 .5em;
                color: #000;
                cursor: pointer;
                font-size: 1em;
                width: 275px;
                &::-ms-expand {
                    display: none;
                }
            }
            /* Custom Select */
            .wrapper-select {
                min-width: 275px;
                max-width: 275px;
                width: 275px;
                line-height: 2;
                position: relative;
                display: block;
                height: 38px;
                background: #eee;
                overflow: hidden;
                margin-right: 10px;
                /* Arrow */
                &::after {
                    content: '\25BC';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0 1em;
                    background: $main-orange;
                    pointer-events: none;
                    -webkit-transition: .25s all ease;
                    -o-transition: .25s all ease;
                    transition: .25s all ease;
                }
                /* Transition */
                &:hover {
                    &::after {
                        color: #000;
                    }
                }
            }
        }
    }
    table {
        th {
            label {
                padding-left: 0;
                margin-bottom: 28px;
                .checker {
                    top: 27px;
                }
                .label {
                    margin-left: -45px;
                }
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    #menu {
        &-edit {
            form {
                >.row {
                    flex-direction: column;
                }
            }
            .col-2 {
                .wrapper {
                    padding-left: 0;
                    flex-direction: column-reverse;
                    #button-actions {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}


.titleMenu{
    @include customize-boxshadow(5px);
    @include scroll-bar();
    padding: 15px;
    margin-top: 15px;

    .title-choice{
        padding: 15px;
    }
}

#navigationMenu{
    div.buttonMenu{
        margin:15px 15px 15px 0;
        padding: 8px 0 8px 20px;
        background-color: $main-grey;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .delete{
        display: flex;
        justify-content: flex-end;
        .section-delete{
            cursor: pointer;
            color: $main-orange;
        }
    }

    .inputSection{
        display: none;
    }

    .subSection{
        input {
            z-index: 2;
            font-size: 1em;
            transition: all 0.2s ease-in-out;
            &[type="text"] {
                width: 100%;
                display: inline-block;
                border: none; // border-bottom: 1px solid rgba(213, 209, 209, 0.9);
                outline: 0;
                box-sizing: border-box;
            }
            padding: 12px 20px; // margin: 0 0 15px 0;
            font-family: 'Nunito', sans-serif !important;
        }

    }

    label {
        width: 70%;
        padding: 15px 0 15px 0;
        margin-left: 30px;
        margin-bottom: 30px;

        &.upSection {
            p {
                top: -10px;
                font-size: 0.8em;
            }
            .bar {
                &::before,
                &::after {
                    width: 50%;
                }
            }
            .line-right-left {
                -webkit-animation: lineRightLeft 0.5s ease;
                -moz-animation: lineRightLeft 0.5s ease;
                animation: lineRightLeft 0.5s ease;
            }
        }
    }

    .title{
        padding-left: 15px;
    }
}

.subItem{
    display:none;
}

.buttonRight{
    display: flex;
    justify-content: flex-end;
}

