.button {
    background-color: darken($main-orange, 10%);
    color: $white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $main-orange;
    transition: all 0.2s ease-in-out;
    text-align: center;
    cursor: pointer;
    outline: 0;
    margin-bottom: 10px;
    @include customize-boxshadow(5px);
    &.no-background {
        background: none;
        border: 1px dashed $main-orange;
        color: $main-orange;
        margin: auto 10px auto auto;
        &:hover {
            background: none;
            color: $main-orange
        }
    }
    &.background-light {
        border: none;
        margin: 20px auto 5px !important;
        &:hover {
            background: rgba(239, 126, 26, 0.9);
        }
    }
    &.center {
        margin-left: auto;
        margin-right: auto;
    }
    &.left {
        margin-right: auto;
    }
    &.right {
        margin-left: auto;
    }
    &:hover {
        background-color: $main-orange;
        @include customize-boxshadow(20px);
    }
    &::selection {
        background: #ffb7b7;
        /* WebKit/Blink Browsers */
    }
    &::-moz-selection {
        background: #ffb7b7;
        /* Gecko Browsers */
    }
}
