input.input {
    font-family: "Nunito";
    font-size: 1em;
    color: $main-black;
    // transition: all .2s ease-in-out;
    border-radius: 2px;
    padding: 2px;
    &:not([type="submit"]) {
        border: 2px solid $main-grey-light;
    }
    &[type="submit"] {
        background-color: $main-orange;
        border: 2px solid $main-orange;
        color: $white;
        font-weight: bold;
        &:hover {
            background-color: $white;
            color: $main-orange;
        }
    }
    &:focus {
        outline: 0;
        border-color: $main-orange;
    }
    &::-webkit-input-placeholder {
        /* WebKit browsers */
        font-weight: 500;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        font-weight: 500;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ but I'm not sure about working */
        font-weight: 500;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        font-weight: 500;
    }
}


label.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .label {
        position: absolute;
        left: 50px;
        font-size: 0.7em;
    }

    input {
        &[type="checkbox"] {
            // position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        &:checked {
            &~.checker {
                background-color: $main-orange;
                &:after {
                    display: block;
                }
            }
        }
    }
    .checker {
        position: absolute;
        top: 0;
        left: 15px;
        height: 24px;
        width: 24px;
        background-color: #eee;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
        &:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &:hover {
        input~.checker {
            background-color: $main-orange;
        }
    }
}
