@mixin width-loop($columns-class) {
    .container,
    .container-fluid {
        .row {
            >div {
                @for $i from 1 through $columns {
                    &.col-#{$columns-class}-#{$i} {
                        flex-basis: ((100 / $columns) * $i) * 1%;
                        width: ((100 / $columns) * $i) * 1%;
                    }
                }
            }
        }
    }
}

@mixin customize-boxshadow($value) {
    box-shadow: 0 0 $value rgba(0, 0, 0, 0.1);
}

@mixin article-boxshadow($value) {
    border-bottom: 0 none;
	box-shadow: 0 1px $value rgba(0, 0, 0, 0.46);
}

@mixin scroll-bar() {
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: darken($main-grey, 20%);
    }
    &::-webkit-scrollbar-track {
        background: $main-grey;
    }
}
