$color-container: grey;
$color-row: white;
$color-col: red;
$color-orange: #F2994A;
$color-grey: #D5D1D1;
$columns: 12;
$gutter: 20;

// Sass variables
$main-black: #242222;
$main-grey-light: #d6d2d2;
$main-orange: #F2994A;
$main-orange-transparent: rgba(242, 153, 74, 0.25);
$main-grey: #d5d1d1;
$white: #fff;
$brown: #A0522D;
$ligth-pink: #f7cce3;
$pink: #ee74b2;
$product-light: rgba(242, 153, 74, 0.25);

$lg: 1200px;
$md: 960px;
$sm: 720px;
$xs: 540px;
