@import "variables.scss";
@import "mixins";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

*[class*="col-"] {
    padding: 0 #{($gutter/2)}px;
}

.container-fluid {
    width: 100%;
}

.container-fluid,
.container {
    &.collapse {
        .row {
            margin: 0;
            [class*="col-"] {
                padding: 0;
            }
        }
    }
    &.no-collapse {
        .row {
            margin: 0 #{(-$gutter/2)}px;
            [class*="col-"] {
                padding: 0 #{($gutter/2)}px 0 #{($gutter/2)}px;
            }
        }
    }
}

.container,
.container-fluid {
    .row {
        &.no-collapse {
            margin: 0;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        >div {
            //div ou *
            padding: 0 #{($gutter/2)}px 0 #{($gutter/2)}px;
            background-clip: content-box; // background without padding
            @for $i from 1 through $columns {
                &.col-#{$i} {
                    flex-basis: ((100 / $columns) * $i) * 1%;
                }
            }
        }
    }
}

@media screen and (max-width: $lg) {
    @include width-loop(lg);
}

@media screen and (max-width: $md) {
    @include width-loop(md);
}

@media screen and (max-width: $sm) {
    @include width-loop(sm);
}

@media screen and (max-width: $xs) {
    @include width-loop(xs);
}

// import components
@import "forms";
@import "buttons";
