#front-home {
    #home-slider {
        position: relative;
        overflow: hidden;
        margin-top: 20px;
        height: 400px;
        border: 3px solid #F2F2F2;
        .slide {
            width: 1200px;
            height: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            &-element {
                position: relative;
                padding: 0;
                height: 400px;
                display: flex;
                width: 100%;
                img {
                    height: auto;
                    width: 1200px;
                    position: absolute;
                    object-fit: fill;
                    left: 1200px;
                }
            }
            &-details {
                max-width: 1200px;
                width: 100%;
                height: 150px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                left: 1200px;
                bottom: 130px;
                color: $white;
                background-color: rgba(0, 0, 0, 0.4);
                p {
                    font-size: 1.2em;
                }
            }
        }
        #controls {
            a {
                z-index: 2;
                position: absolute;
                top: 45%;
                &.control_prev {
                    left: 5px;
                }
                &.control_next {
                    right: 5px;
                }
            }
        }
    }
    #container-product,
    #container-article {
        h2 {
            margin: 1em 0;
            text-align: center;
            color: $main-orange;
        }
        [class^="col-"] {
            img {
                height: 200px;
                width: 100%;
            }
            .wrapper {
                display: flex;
                height: 100%;
                flex-direction: column;
                color: $main-black;
                transition: box-shadow 0.2s ease-in-out;
                max-height: max-content;
                @include customize-boxshadow(5px);
                &:hover {
                    @include customize-boxshadow(15px);
                }
            }
        }
        .details {
            padding: 5px;
        }
    }
    .button {
        margin: 30px auto 5px;
    }
}
