div#patishopper-user {
    img#captcha {
        max-width: 100%;
        height: auto;
    }

    div#user-form {
        max-width: 445px;
        width: 100%;
        background-color: #ffff;
        margin: auto;
        height: auto;
        border-radius: 10px;

        h1 {
            font-size: 2em;
            margin: 0.5em;
            color: #F2994A;
            text-align: center;
        }

        span {
            margin: 0 auto;
        }

        div#form > form {
            p {
                position: relative;
                padding: 10px;
                width: auto;
            }
            p:before {
                width: 25px;
                content: "";
                margin: 0 15px 0;
                position: absolute;
                left: 10px;
                bottom: 0;
                top: 0;
            }

            div.control-group:first-child > p:before, div.control-group:nth-child(2) > p:before {
                background: url(../images/front/icons/user.svg) center/contain no-repeat;
            }
            div.control-group:nth-child(3) > p:before {
                width: 20px;
                background: url(../images/front/icons/phone.svg) center/contain no-repeat;
            }
            div.control-group:nth-child(4) > p:before , div.control-group:nth-child(5) > p:before {
                background: url(../images/front/icons/at.svg) center/contain no-repeat;
            }
            div.control-group:nth-child(6) > p:before , div.control-group:nth-child(7) > p:before ,
            div.control-group:nth-child(8) > p:before , div.control-group:nth-child(9) > p:before{
                background: url(../images/front/icons/address.svg) center/contain no-repeat;
            }
            div.control-group:nth-child(10) > p:before , div.control-group:nth-child(11) > p:before {
                background: url(../images/front/icons/password.svg) center/contain no-repeat;
            }
            div.control-group:nth-child(12) > p:before {
                background: url(../images/front/icons/arrow-alt-circle-right.svg) center/contain no-repeat;
            }

            label {
                margin-top: 5px;
                border-radius: 10px
            }

            input:not([type="submit"]) {
                padding: 10px 15px 10px 50px;
                border: 2px solid #d6d2d2;
            }
            input[type="submit"] {
                padding: 10px;
                background-color: #F2994A;
                border: 2px solid #F2994A;
                color: #ffff;
                font-size: 1.3em;
                font-weight: bold;
                margin: 25px 0 25px 0px;
            }
            input[type="submit"]:hover {
                background-color: rgba(242, 152, 74, 0.8);
                color: #ffff;
                cursor: pointer;
            }

            input:focus {
                outline: 0;
                border-color: #F2994A;
            }
            input {
                width: 100%;
                font-family: "Nunito";
                font-size: 1em;
                // -webkit-transition: all .2s ease-in-out;
                // transition: all .2s ease-in-out;
                border-radius: 10px;
            }
        }
    }
}
