// Global Styles
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    @include scroll-bar();

}

h1 {
    font-size: 2em;
    margin: 0.5em;
    color: $main-orange;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    width: 100%;
}

.separator {
    border: 1px solid $color-grey;
    width: 95%;
    margin-left: 2%;
}