@import url('https://fonts.googleapis.com/css?family=Roboto');

urlset {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    width: 100%;
    max-width: 100%;

    url {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        background-color: lighten(#F2994A, 30%);
        * {
            margin-top: 5px;
        }

        &:nth-child(even) {
            background-color: #fff;
        }

        loc {
            font-weight: bold;
        }
    }
}
