#back-template {
    #view-content {
        min-height: 800px;
        textarea {
            &[name="text"] {
                visibility: hidden;
                display: none;
            }
        }

        hr {
            &.separator {
                overflow: hidden;
                padding: 0;
                width: 98%;
                text-align: center;
                border: 1px solid rgba(213, 209, 209, 0.9);
                border-radius: 25px;
                margin: 0 auto 20px;
            }
        }
        #button {
            display: flex;
            .button {
                margin-left: auto !important;
                margin-right: 15px;
                height: 50px;
                margin-top: 5px;
            }
        }
    }
    #site-header {
        header {
            font-weight: bold;
            display: flex;
            background-color: $main-black;
            color: $white;
            position: relative;
            min-height: 100px;
            height: 100px;
            span {
                margin: auto .5em;
            }
            #back-mobile-navigation {
                display: none;
                height: 50px;
                width: 50px;
                margin: auto 0;
                a {
                    display: inline-block;
                    height: 50px;
                    width: 50px;
                    background-repeat: no-repeat;
                    background-size: 70%;
                    background-position: center;
                }
            }
            #site-info {
                a {
                    display: flex;
                    margin: 25px;
                    color: $white;
                }
            }
            #informations {
                display: flex;
                position: absolute;
                right: 25px;
                top: 25px;
                >* {
                    margin: auto;
                }
                span,
                a>img {
                    margin-right: 25px;
                }
                a.profil {
                    width: 30px;
                    display: flex;
                    img {
                        border-radius: 50%;
                        max-width: 50px;
                        max-height: 50px;
                        transition: transform .2s ease-in-out;
                        &:hover {
                            transform: scale(1.1, 1.1);
                        }
                    }
                }
                .dropbtn {
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                }

                img.dropbtn:hover, img.dropbtn:focus {
                    transform: scale(1.3);
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    top: 50px;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 160px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }

                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                .dropdown-content a:hover {color: #F2994A;}

                .show {display: block;}
            }

            p {
                display: inline-flex;
            }
        }
    }
    #site-content {
        position: relative;
    }
    #site-navigation {
        nav {
            background-image: url('../images/back/nav-background.svg');
            background-repeat: repeat-y;
            background-size: 100%;
            position: relative;
            min-height: 800px;
            height: 100%; // dynamic height according to the view content
            div#overlay {
                background-color: rgba(36, 34, 34, 0.9);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                >ul {
                    >li {
                        a {
                            &:hover {
                                color: $white;
                                background-color: $main-black;
                                svg use {
                                    fill: $white;
                                }
                            }
                        }
                    }
                }
            }
            ul {
                margin-top: 70px;
                z-index: 2;
                padding: .5em;
            }
            li {
                display: flex;
                flex-direction: column;
                font-weight: bold;
                min-height: 55px;
                &.active-item {
                    >a {
                        background-color: $main-black;
                    }
                    svg use {
                        fill: $white;
                    }
                    a {
                        color: $white;
                    }
                }
                >a {
                    padding: .5em;
                    color: $main-orange;
                    border-radius: 5px;
                    text-decoration: none;
                    display: flex;
                    i {
                        display: inline-flex;
                        width: 35px;
                        height: 35px;
                        margin-right: 1vw;
                        svg {
                            margin-top: 8px;
                        }
                    }
                    span {
                        line-height: 38px;
                    }
                }
                >* {
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
        }
        ul#dropdown-menu {
            display: none; // background-color: lighten($main-orange, 10%);
            &.active {
                display: flex;
                flex-direction: column;
            }
            i {
                margin-right: 0vw;
                margin-left: 1vw;
                svg use {
                    fill: $main-orange;
                }
            }
            a {
                color: $main-orange;
            }
        }
    }
    #site-footer {
        footer {
            min-height: 100px;
            max-height: 100px;
            height: 100px;
            width: 100%;
            background-color: $main-black;
            display: flex;
            align-items: center;
            >* {
                display: flex;
                flex: 1;
                align-items: center;
            }
            p {
                justify-content: flex-start;
                margin: 0 25px;
            }
            a,
            p {
                color: $white;
                font-weight: bold;
            }
            ul {
                &:first-of-type {
                    justify-content: center;
                    li {
                        padding: 0 .5em;
                    }
                }
                &:last-of-type {
                    justify-content: flex-end;
                    margin-right: 25px;
                    li {
                        padding: 0 .2em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    #back-template {
        #site-navigation {
            &.responsive {
                position: absolute;
                left: -100%;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
            &.opened {
                left: 0;
            }
        }
        #site-header {
            header {
                #back-mobile-navigation {
                    display: flex;
                    a {
                        background-image: url(../images/front/icons/burger.svg);
                        &.opened {
                            background-image: url(../images/front/icons/burger-close.svg);
                        }
                    }
                }
            }
        }

        #site-content {
            overflow-x: scroll;

            #button {
                .button {
                    margin-left: 16px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    #back-template {
        #site-header {
            header {
                #informations {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    #back-template {
        #site-header {
            header {
                #informations {
                    top: 40px;
                    >a {
                        &.profil {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {
    #back-template {
        #site-footer {
            footer {
                flex-direction: column;
                max-height: 200px;
                height: 170px;
                ul {
                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }
    }
}
