.message {
    width: 100%;
    margin: 10px 0;
    min-height: 50px;
    vertical-align: middle;
    border-radius: 5px;
    display: flex;
    padding: 12.5px;
    font-weight: bold;
    font-size: 18px;
    &.success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        .exit {
            color: #155724;
        }
    }
    &.info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
        .exit {
            color: #31708f;
        }
    }
    &.error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        .exit {
            color: #721c24;
        }
    }
    .exit {
        margin-left: auto;
        text-align: center;
        font-size: 1.5em;
        &:hover {
            cursor: pointer;
        }
    }
}
