table {
    font-family: 'Nunito', sans-serif;
    border-collapse: collapse;
    width: 98%;
    min-width: 1034px;
    margin: 0 auto;
    padding: 1em 0;
    @include customize-boxshadow(15px);

    &#cart-table {
        width: 100%;
    }

    &#orders-details{
        margin-top: 10px;
        width: 100%;
    }
    &#orders {
        width: 100%;
        min-width: auto;
        td,
        th {
            &:nth-child(1) {
                max-width: 75px;
                word-wrap: break-word;
            }
        }
    }
    &#user-list {
        td,
        th {
            &:nth-child(1) {
                max-width: 175px;
                word-wrap: break-word;
            }
            &:nth-child(3) {
                max-width: 150px;
                word-wrap: break-word;
            }
            &:nth-child(4) {
                max-width: 150px;
                word-wrap: break-word;
            }
        }
    }
    &#product-list {
        th,
        td {
            &:nth-child(2) {
                width: 290px;
            }
            &:nth-child(5) {
                width: 130px;
            }
            &:nth-child(5) {
                width: 115px;
            }
            &:nth-child(7) {
                width: 275px;
            }
        }
    } // add the same for #article #category-product #category-article
    &#article-list {
        th,
        td {
            &:nth-child(5) {
                width: 290px;
            }
        }
    }
    &#comment-list {
        .comment-details {
            font-family: 'Nunito', sans-serif;
            td {
                text-align: justify;
                div {
                    h3 {
                        color: $main-orange;
                        margin-bottom: 5px;
                        font-size: 1em;
                    }
                    width: 100%;
                    max-width: 985px;
                    margin: auto;
                    form {
                        display: flex;
                        flex-direction: column;
                        textarea {
                            height: 200px;
                            width: 100%;
                            max-width: 580px;
                            outline: none;
                            padding: 1em;
                            resize: vertical;
                            font-family: "Nunito";
                            font-size: 1em;
                            transition: border 0.2s ease-in-out;
                            border: 1px solid #d5d1d1;
                        }
                        .submit {
                            display: flex;
                        }
                        input {
                            width: 90px;
                            margin-top: 10px;
                        }
                        #loader-perform {
                            height: 38px;
                            width: 37px;
                            margin-top: 10px;
                            margin-left: 5px;
                            display: none;
                        }
                        #message-info {
                            max-width: 580px;
                            margin-top: 10px;
                            margin-left: 0;
                            display: none;
                        }
                    }
                }
            }
            .close {
                display: flex;
                margin-bottom: 5px;
            }
        }
        td {
            &:nth-child(1) {
                div[class^=comment] {
                    display: none;
                }
                text-align: left;
            }
            &:nth-child(2) {
                text-align: left;
                a {
                    color: #2861ad;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: $main-orange;
                    }
                }
            }
        }
        th,
        td {
            &:nth-child(1) {
                width: 400px;
            }
            &:nth-child(2) {
                width: 330px;
            }
        }
    }
}

th {
    font-size: 20px;
    font-weight: bold;
    background-color: $main-black;
    color: $main-orange;
}

thead {
    th,
    td {
        * {
            font-size: 0.8em !important;
        }
    }
}

td,
th {
    height: 60px;
    padding: 8px;
}

tr {
    &:hover {
        .post-edit,
        .product-edit,
        .category-edit,
        .user-edit,
        .comment-edit {
            visibility: visible;
        }
    }
    .post-edit,
    .product-edit,
    .category-edit,
    .user-edit,
    .comment-edit {
        font-size: 0.8em;
        display: flex;
        flex-wrap: wrap;
        a {
            margin: 0 5px;
            &:visited {
                color: $main-orange;
            }
        }
    }
    &:nth-child(odd) {
        td {
            background-color: #f7f7f7
        }
    }
}

td {
    text-align: center;
    span {
        display: flex;
        &.post-edit,
        &.product-edit,
        &.category-edit,
        &.user-edit,
        &.comment-edit {
            margin-top: 10px;
            visibility: hidden;
        }
    }
}
