#user-content {
        
        div.col-2#button {
            padding-top: 15px;
        }
        
        #button, .button {
            display: flex;
            margin-top: 0;
        }

        .col-2:nth-child(even) {
            padding-left: 10px;
        }

        .col-2:nth-child(odd) {
            padding-right: 10px;
        }

        #table-user {
            margin-top: 3%;
        }

        #table-user tr > td:last-child {
            width: 5%;
        }

        #table-user tr {
            background-color: #efefef;
        }
        
        #table-user tr:hover {
            background-color: $main-grey;
            cursor: pointer;
        }

        #table-user th {
            height: 50px;
            color: $white;
            background-color: $main-grey; 
        }

        td, th {
            text-align: center;
            max-width: 23.75%;
        }

        i {
            cursor: pointer;
        }
          
        input[type=search] {
            background: $main-orange url(/public/images/back/icons/search-white.svg) no-repeat 9px center;
            transition: all .2s ease-in-out;
        }

        #searchForm input[type=search] {
            width: 0;
            border-radius: 5px;
            padding: 9px 10px 9px 32px;
            height: 45px;
            cursor: pointer;
            border: 1px solid $main-orange;
        }

        #searchForm input[type=search]:hover {
            background: $white url(/public/images/back/icons/search-orange.svg) no-repeat 9px center;
        }

        #searchForm input[type=search]:focus {
            background: $white url(/public/images/back/icons/search-orange.svg) no-repeat 9px center;
            width: 100%;
            padding-left: 35px;
            cursor: auto;
        }
        
        @media all and (min-width: 600px) {
            .twoColumns {
                display: none;
            }
        }

        @media all and (max-width: 599px) {
            .fiveColumns {
                display: none;
            }

            h1 {
                text-align: center;
            }
        }
}