#patishopper-account {
    min-height: 820px;
    #content-wrapper {
        .inside-content {
            .title {
                margin: 0;
                h1 {
                    margin-left: 0;
                }
            }
            >.row {
                padding: 0 40px;
            }
        }
    }
    #menu-select {
        padding: 10px;
        ul {
            li {
                border-top: 2px solid $main-grey-light;
                border-left: 2px solid $main-grey-light;
                border-right: 2px solid $main-grey-light;
                padding: 10px;
                &:last-of-type {
                    border-bottom: 2px solid $main-grey-light;
                }
                a {
                    color: $main-black;
                    font-size: 1.2em;
                    &:hover,
                    &.active {
                        color: $main-orange;
                    }
                }
            }
        }
    }
    form {
        #informations {
            max-width: 750px;
            width: 100%;
        }
        p {
            margin-top: 10px;
            label {
                span {
                    font-weight: bold;
                }
            }
        }
        input {
            margin-top: 10px;
            border-radius: 10px;
            &:not([type="submit"]) {
                padding: 10px 20px;
                width: 98%;
            }
            &[type="submit"] {
                font-size: 1em;
                font-family: "Nunito", Helvetica, sans-serif
            }
        }
    }
    #orders {
        .see-more {
            background-position: top left;
            -webkit-mask-image: url("../images/icons/see-more.svg");
            background-color: $main-black;
            mask-repeat: no-repeat;
            height: 35px;
            width: 30px;
            display: flex;
            margin: auto;
            transition: background-color 0.15s ease-in;
            &:hover {
                background-color: $main-orange;
            }
        }
    }
}

#patishopper-order-details {
    min-height: 820px;
    h1 {
        line-height: 1.2;
    }
    .button {
        margin-top: 15px;
        display: flex;
        width: 275px;
        justify-content: center;
        margin: auto;
    }
    .details {
        padding: 0 1.2em;
        overflow: auto;
    }
    .total {
        font-size: 1.2em;
        margin-top: 15px;
        color: $main-orange;
        font-weight: bold;
    }
}

@media (max-width: 720px) {
    #patishopper-account {
        min-height: 820px;
        #content-wrapper {
            .inside-content {
                .title {
                    margin: 0;
                    h1 {
                        margin: 10px 5px;
                    }
                }
                >.row {
                    padding: 2px 10px;
                }
            }
        }
    }
}
