div.view-content.container {
    max-width: 100%;
}

#view-content {
    padding: 0;
}

#patishopper-connexion {
    padding: 120px 0;
    background-image: url(../images/connexion-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    .row {
        &:first-child {
            margin: auto;
        }
        .col-12 {
            display: flex;
        }
    }
    #connexion-form {
        max-width: 445px;
        width: 100%;
        background-color: #ffff;
        margin: auto;
        height: auto;
        border-radius: 10px;

        span {
            margin: 0 auto;
        }
        #form {
            padding: 20px;
            h2 {
                color: rgba(130, 130, 130, 0.85);
                padding-bottom: 10px;
            }
        }
        form {
            a#register {
                display: block;
                width: auto;
                margin: 20px 10px;
                padding: 10px;
                background-color: darken($main-grey, 4%);
                border: 2px solid $main-grey;
                color: $white;
                font-size: 1.3em;
                font-weight: bold;
                text-align: center;
                border-radius: 10px;
                //transition: all .2s ease-in-out;
                &:hover {
                    background-color: $main-grey;
                    color: $white;
                    @include customize-boxshadow(20px);
                }
            }
            p {
                position: relative;
                padding: 10px;
                width: auto;
                &#forgot-password {
                    font-size: .98em;
                    text-align: center;
                    border-bottom: 1.5px solid $main-grey;
                    a {
                        color: $main-black;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &:before {
                    content: "";
                    margin: 0 15px 0;
                    position: absolute;
                    left: 10px;
                    bottom: 0;
                    top: 0;
                }
                &:first-child {
                    &:before {
                        width: 25px;
                        background: url("../images/icons/username.svg") center / contain no-repeat;
                    }
                }
                &:nth-child(2) {
                    &:before {
                        top: -5px;
                        width: 20px;
                        background: url("../images/icons/password.svg") center / contain no-repeat;
                    }
                }
            }
            input {
                font-family: "Nunito";
                font-size: 1em;
                color: $main-black;
                //transition: all .2s ease-in-out;
                border-radius: 10px;
                cursor: pointer;
                width: 100%;
                &:not([type="submit"]) {
                    padding: 10px 15px 10px 50px;
                    border: 2px solid $main-grey-light;
                }
                &[type="submit"] {
                    color: $white;
                    font-size: 1.3em;
                    font-weight: bold;
                }
                &:hover {
                    @include customize-boxshadow(20px);
                }
                &:focus {
                    outline: 0;
                    border-color: $main-orange;
                }
                &::-webkit-input-placeholder {
                    /* WebKit browsers */
                    font-weight: 500;
                }
                &:-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    font-weight: 500;
                }
                &::-moz-placeholder {
                    /* Mozilla Firefox 19+ but I'm not sure about working */
                    font-weight: 500;
                }
                &:-ms-input-placeholder {
                    /* Internet Explorer 10+ */
                    font-weight: 500;
                }
            }
        }
    }
    footer {
        min-height: 60px;
        max-height: 60px;
        height: 100px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        >* {
            display: flex;
            flex: 1;
            align-items: center;
        }
        p {
            justify-content: flex-start;
            margin: 0 25px;
            span {
                margin: 0 4px;
            }
        }
        a,
        p {
            color: $white;
            font-weight: bold;
        }
        ul {
            &:first-of-type {
                justify-content: center;
                li {
                    padding: 0 .5em;
                }
            }
            &:last-of-type {
                justify-content: flex-end;
                margin-right: 25px;
                li {
                    padding: 0 .2em;
                    margin-top: .2em;
                }
            }
        }
    }
}

@media screen and (max-width: 810px) {
    #patishopper-connexion {

        footer {
            p {
                margin-right: 0;
                width: 20px;
                font-size: .8em;
                span {
                    display: none;
                }
                &:first-child{
                    margin-left: 2px;
                }
            }
            ul {
                img {
                    height: 30px;
                    width: 30px;
                }
                li {
                    font-size: .8em;
                }
            }
        }
    }
}

@media screen and (max-width: 420px){
    #patishoper{

    }
}
