#cart {
    &-content {
        min-height: 700px;
        hr {
            margin: 1px 0 35px 0;
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            padding: 0;
        }
        #message-infos {
            width: 98%;
            max-width: 500px;
            margin: auto;
            justify-content: center;
            span {
                text-align: center;
            }
        }
        .button-right {
            display: flex;
            a {
                margin-right: 0;
            }
        }
        #button-wrapper {
            .button {
                margin-top: 30px;
                display: flex;
                max-width: 170px;
                max-width: max-content;
            }
        }
        .checkout-infos {
            max-width: 300px;
            margin: auto;
            margin-top: 30px;
            * {
                font-weight: bold;
            }
        }

        .cart-content-table {
            overflow: auto;
        }
    }
    &-checkout {
        min-height: 700px;
        #message-checkout-wrapper {
            display: flex;
            flex-direction: column;
            #messages {
                display: flex;
                flex-direction: column;
                margin: auto;
                margin-top: 70px;
                p {
                    margin: auto;
                }
                max-width: 700px;
            }
            .button {
                margin-top: 50px;
                font-size: 1em;
            }
        }
        #checkout-form {
            margin: auto;
            width: 100%;
            max-width: 500px;
            padding: 10px;
            label {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                input {
                    padding: 10px;
                    border-radius: 10px;
                }
            }
            input {
                &[type="submit"] {
                    font-size: 1em;
                    font-family: "Nunito", Helvetica, sans-serif;
                }
            }
        }
    }
    &-confirmation {
        min-height: 500px;
        .title {
            display: flex;
            max-width: max-content;
            margin: auto;
            span {
                margin: 1em 0;
            }
        }

        .content {
            text-align: center;
        }

        .button {
            margin-top: 1.5em;
            display: flex;
            width: max-content;
        }
    }
}
