main#contact
{
    .container
    {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
    .col-12
    {
        .message  {
            width: 90%;
            margin: 0 auto;
        }
        .vertical-bloc
        {
            display: flex;
            align-items: center;
            padding: 4%;

            .column:nth-child(2) {
                margin-left: 2%;
            }

            .column
            {
                margin: 0 auto;
                width:50%;

                div > form
                {
                    margin: 0 auto;
                    text-align: center;

                    p {
                        position: relative;
                        padding: 10px;
                        width: auto;
                    }
                    p:before {
                        width: 25px;
                        content: "";
                        margin: 0 15px 0;
                        position: absolute;
                        left: 10px;
                        bottom: 0;
                        top: 0;
                    }
                    input:not([type="submit"]), textarea {
                        padding: 10px 15px 10px 15px;
                        border: 2px solid $main-grey-light;
                    }
                    input[type="submit"] {
                        padding: 10px;
                        font-size: 1.3em;
                        font-weight: bold;
                        margin: 25px 0 25px 0px;
                        width: 97%;
                    }
                    input[type="submit"]:hover {
                        cursor: pointer;
                    }

                    input:focus, textarea:focus {
                        outline: 0;
                        border-color: $main-orange;
                    }
                    input {
                        width: 100%;
                        font-family: "Nunito";
                        font-size: 1.2em;
                        border-radius: 10px;
                    }
                    textarea {
                        color: #838474;
                        width: 97%;
                        font-family: "Nunito";
                        font-size: 1.2em;
                        border-radius: 10px;
                    }
                    textarea:focus {
                        color: black;
                    }
                }

                .col-4 {
                    background-color: $main-orange-transparent;
                    padding: 2%;
                    margin-top: 2%;
                    p {
                        text-align: center;
                        margin-bottom: 3%;
                    }
                    h2 {
                        margin-bottom: 2%;
                        text-align: center;
                    }
                    .iframe iframe {
                        display: block;
                        margin: 0 auto;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                    .iframe {
                        position: relative;
                    }
                }

                .col-6 {
                    text-align: center;
                    h2 {
                        margin-bottom: 3%;
                    }
                }
            }
        }
    }
}