#error {
    &-404 {
        margin-top: 1.5em;

        h1 {
            margin: auto;
            display: flex;
            margin: 0.5em auto;
            line-height: 1.2;
            text-align: center;
        }
        .error {
            &-message {
                font-size: 1.5em;
                text-align: center;
            }
        }

        hr {
            border: 1px solid rgba(213, 209, 209, 0.9);
            width: 50%;
            margin: 1.5em auto;
        }

        .home-button {
            display: flex;
            margin-top: 1.5em;
        }
    }
}
