#front-template {
    #site-header {
        background-color: $main-black;
        padding: 0.3em;
        .container {
            display: flex;
            a {
                display: flex;
                color: $white;
                * {
                    margin: auto;
                }
                span {
                    padding: 0 .5em;
                }
            }
            #infos {
                margin-left: auto;
                display: flex;
                #links {
                    color: #fff;
                    display: flex;
                    margin: auto;
                    span:first-child {
                        margin-right: 10px;
                    }
                    a.profil {
                        width: 30px;
                        img {
                            margin-right: 25px;
                        }
                    }
                }
                img {
                    height: 30px;
                    width: 30px;
                }
                a {
                    &:hover {
                        img {
                            transform: scale(1.2);
                        }
                        color: $main-orange;
                    }
                }
                #menu {
                    a {
                        display: flex;
                        height: 50px;
                        width: 50px;
                        background-image: url("../images/front/icons/burger.svg");
                        background-repeat: no-repeat;
                        background-size: 70%;
                        background-position: center;
                    }
                }
                .dropbtn {
                    padding: 5px;
                    border: none;
                    margin-right: 25px;
                    cursor: pointer;
                }
                img.dropbtn:hover,
                img.dropbtn:focus {
                    transform: scale(1.3);
                }
                .dropdown {
                    position: relative;
                    display: inline-block;
                }
                .dropdown-content {
                    display: none;
                    top: 50px;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 160px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }
                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
                .dropdown-content a:hover {
                    color: #F2994A;
                }
                .show {
                    display: block;
                    padding: 0 !important;
                }
                p {
                    display: inline-flex;
                }
            }
        }
    }
    #site-navigation {
        background-color: lighten($color-grey, 15%);
        ul {
            display: flex;
            justify-content: center;
            li {
                padding: 1em;
                margin: auto 0;
                a {
                    color: $main-black;
                    font-weight: bold;
                    font-size: 1.2em;
                    &:hover {
                        color: $main-orange;
                    }
                }
            }
        }
    }
    #site-view-content {
        #pagination {
            display: flex;
            margin: 3em 0;
            .wrapper {
                margin: auto;
                position: relative;
                >a {
                    position: absolute;
                    height: 35px;
                    width: 30px;
                    -webkit-mask-repeat: no-repeat;
                    background-color: $main-black;
                    top: 5px;
                    &.prev {
                        left: -30px;
                        -webkit-mask-image: url("../images/front/icons/arrow_left.svg");
                        background-position: top left;
                    }
                    &.next {
                        right: -40px;
                        -webkit-mask-image: url("../images/front/icons/arrow_right.svg");
                        background-position: top right;
                    }
                }
                .numbers {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    a {
                        display: table-cell;
                        vertical-align: middle;
                        height: 45px;
                        width: 45px;
                        line-height: 45px;
                        background-color: lighten($main-orange, 30%);
                        border-right: 2px solid $main-orange;
                        text-align: center;
                        font-weight: bold;
                        color: $main-black;
                        &.dots {
                            background-color: $white;
                        }
                        &.current-page {
                            background-color: $main-orange;
                        }
                    }
                }
            }
        }
    }
    #site-footer {
        background-color: $main-black;
        color: $white;
        padding: 1em;
        form {
            &#newsletter {
                display: flex;
                #img {
                    margin-left: 5px;
                    display: none;
                }
                #loader-perform {
                    height: 35px;
                }

                input {
                    &[name="email"] {
                        padding: 7px 10px;
                    }
                }
            }
        }
        #message-infos {
            opacity: 0;
            width: 260px;
        }
        .row {
            .col-4 {
                display: flex;
                p {
                    font-size: 0.9em;
                }
                ul {
                    display: flex;
                    justify-content: center;
                }
                &:first-child {
                    justify-content: center;
                    height: 180px;
                    p {
                        margin: 5px 0;
                        width: max-content;
                    }
                }
                &:nth-child(2) {
                    flex-direction: column;
                    ul {
                        li {
                            margin: 5px;
                            img {
                                height: 35px;
                                width: 35px;
                            }
                        }
                    }
                    p {
                        margin: auto;
                        display: inline-flex;
                    }
                }
                &:nth-child(3) {
                    ul {
                        align-items: flex-end;
                        margin: 0 auto;
                        li {
                            a {
                                color: $white;
                                margin: 0 0.4em;
                                font-size: 0.9em;
                                &:hover {
                                    color: $main-orange;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    #front-template {
        #site-header {
            .container {
                #infos {
                    #links {
                        flex-direction: column;
                    }
                    #menu {
                        display: block;
                    }
                }
            }
        }
        #site-navigation {
            display: none;
        }
    }
}

@media screen and (min-width: 680px) {
    #front-template {
        #site-header {
            .container {
                #infos {
                    #menu {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 370px) {
    #front-template {
        #site-header {
            .container {
                #site-logo {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}