main#articles-wrapper {
    #all-articles {
        .article {
            margin-bottom: 20px;
        }
        article {
            vertical-align: bottom;
            background-color: lighten($main-grey, 20%);
            transition: box-shadow 0.2s ease-in-out;
            @include article-boxshadow(2px);
            .details {
                display: flex;
                margin-top: 10px;
                justify-content: space-evenly;
                font-style: italic;
                font-weight: bold;
                .comment-number {
                    position: relative;
                    height: 20px;
                    width: 40px;
                }
                span {
                    position: absolute;
                    &.icon {
                        mask-repeat: no-repeat;
                        background-color: $main-orange;
                        display: flex;
                        width: 30px;
                        height: 30px;
                        mask-image: url("/public/images/icons/orange/comment.svg");
                        top: 0;
                    }
                    &.number {
                        left: 25px;
                        color: $main-orange;
                    }
                }
            }
            &:hover {
                @include article-boxshadow(10px);
                cursor: pointer;
            }
            >a {
                display: block;
                width: 100%;
                margin: auto;
                overflow: hidden;
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                .image {
                    height: 215px;
                    background-color: rgba(242, 153, 74, 0.25);
                    overflow: hidden;
                    img {
                        height: 215px;
                        width: 100%;
                        transition: transform 0.3s ease-in;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
                .content {
                    padding: 10px;
                    color: $main-black;
                }
            }
        }
    }
}
