main#single-post {
    min-height: 900px;
    padding: 10px;
    h1 {
        margin-left: 0;
        line-height: 1;
    }
    .published-date {
        font-style: italic;
        font-weight: bold;
        margin-bottom: 10px;
    }
    h3 {
        margin-top: 10px;
        color: $main-orange;
    }
    .featured-image {
        margin-top: 10px;
        width: 100%;
        max-width: 680px;
        height: 340px;
    }
    #admin-message {
        margin: 10px 0 0;
        .admin-show {
            max-height: fit-content;
            margin: auto;
            span {
                text-align: center;
            }
        }
    }
    #comments {
        .single-comment {
            display: flex;
            margin-bottom: 10px;
            margin-top: 20px;
            .user-image {
                border: 1px dashed $main-grey;
                margin-right: 10px;
            }
            .user-image,
            img {
                height: 50px;
                width: 50px;
            }
            .comment-detail {
                .comment-date {
                    font-weight: bold;
                }
                .comment-text {
                    text-align: justify;
                }
            }
        }
        #message-infos {
            max-width: fit-content;
        }
        h2 {
            color: $main-orange;
            margin: 10px 0 25px;
        }
        .response {
            margin-top: 20px;
            margin-left: -35px;
            display: flex;
        }
    }
    #comment-article {
        margin-top: 20px;
        .categories {
            display: flex;
            flex-wrap: wrap;
            a {
                background-color: rgba(242, 153, 74, 0.25);
                padding: 10px;
                border-radius: 10px;
                margin-left: 15px;
                margin-bottom: 15px;
                font-weight: bold;
                color: $main-black;
                transition: background 0.5s ease;
                &:hover {
                    background-color: rgba(242, 153, 74, 0.40);
                    cursor: pointer;
                }
            }
        }
        .connexion-required {
            text-decoration: underline;
            font-weight: bold;
            margin: 20px 0;
            a {
                &:hover {
                    color: $main-orange;
                }
            }
        }
        #message-box {
            width: 100%;
            max-width: 555px;
            span {
                text-align: center;
            }
        }
        form {
            width: 100%;
            max-width: 420px;
            margin-bottom: 40px;
            textarea {
                margin-top: 10px;
                outline: none;
                padding: 1em;
                resize: vertical;
                font-family: "Nunito";
                font-size: 1em;
                height: 130px;
                transition: border 0.2s ease-in-out;
                border: 1px solid #d5d1d1;
                width: 100%;
            }
            input {
                &[type="submit"] {
                    font-size: 1em;
                    width: 120px;
                }
            }
            .submit {
                display: flex;
                img {
                    height: 50px;
                    margin-left: 5px;
                    display: none;
                }
            }
        }
    }
}
