main#products-wrapper {
    h1 {
        text-align: center;
    }
    nav#categories {
        display: flex;
        ul {
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                padding: 0.5em 0;
                a {
                    padding: 0 0.5em;
                    border-left: 2px solid $main-orange;
                    font-weight: bold;
                    color: $main-black;
                    font-size: 1.3em;
                    transition: color 0.2s ease;
                    &:hover {
                        color: $main-orange;
                    }
                }
            }
        }
    }
    #all-products {
        .product {
            text-align: center;
            margin: 1em 0;
            a {
                &.image {
                    display: block;
                    height: 215px;
                    width: 100%;
                    background-color: rgba(242, 153, 74, 0.25);
                    margin: auto;
                    overflow: hidden;
                    transition: all 0.2s ease-in-out;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: transform 1s ease;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
            h3 {
                position: relative;
                padding: 0.5em;
                display: table;
                margin: auto;
                &::after {
                    content: "";
                    width: 40px;
                    height: 3px;
                    position: absolute;
                    left: 10px;
                    bottom: 7px;
                    background-color: $main-orange;
                }
            }
            p {
                background-color: rgba(242, 153, 74, 0.25);
                display: inline-block;
                padding: 0.2em 0.5em;
                border-radius: 5px;
                font-weight: bold;
            }
        }
    }
}
