main {
    &#single-product {
        padding: 10px;
        >.row {
            margin-bottom: 50px;
            &:first-of-type {
                h1 {
                    margin-left: 0;
                    line-height: 1.2;
                    &+img {
                        height: 320px;
                        width: 100%;
                        justify-content: flex-end;
                    }
                }
                .cart {
                    display: flex;
                }
                .title-image {
                    flex-direction: column;
                }
                .description {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: flex-end;
                    margin-left: 10px;
                    h2 {
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 1.2em;
                    }
                }
                #add-to-cart {
                    display: flex;
                    flex-direction: column;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 0 50px;
                    justify-content: flex-end;
                    >* {
                        margin-top: 60px;
                    }
                    #add-to-cart-wrapper {
                        display: flex;
                        #loader-perform {
                            height: 45px;
                            display: none;
                        }
                        #img-wrapper {
                            display: flex;
                            width: 30px;
                        }
                    }
                    .price,
                    .quantity,
                    .button {
                        display: flex;
                        div {
                            font-weight: bold;
                        }
                        div,
                        span {
                            display: flex;
                            font-size: 1.2em;
                            margin: auto;
                        }
                    }
                    .button {
                        justify-content: center;
                        margin-right: 5px;
                    }
                    .price {
                        span {
                            background-color: $product-light;
                            padding: 10px;
                            border-radius: 10px;
                            margin-left: 15px;
                            font-weight: bold;
                        }
                    }
                    .quantity {
                        position: relative;
                        &-details {
                            height: 50px;
                            width: 100px;
                            border-bottom: 2px solid $product-light;
                        }
                        &-controls {
                            a {
                                position: absolute;
                                height: 35px;
                                width: 30px;
                                -webkit-mask-repeat: no-repeat;
                                top: 5px;
                                background-color: $product-light;
                                &.decrease {
                                    left: -30px;
                                    -webkit-mask-image: url("../images/front/icons/arrow_left.svg");
                                    background-position: top left;
                                }
                                &.inscrease {
                                    right: -40px;
                                    -webkit-mask-image: url("../images/front/icons/arrow_right.svg");
                                    background-position: top right;
                                }
                            }
                        }
                    }
                }
            } // Avis
            &:nth-of-type(2) {
                display: none;
                .message {
                    max-width: 550px;
                }
            }
            &:nth-of-type(3) {
                display: flex;
                flex-direction: column;
                height: 100%;
                .comments {
                    padding-top: 20px;
                    overflow: hidden;
                    height: 340px;
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: auto;
                }
                .wrapper {
                    margin: auto;
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    max-width: 515px;
                    .connexion-required {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        font-size: 1.5em;
                        line-height: 1.5;
                        justify-content: center;
                        text-align: center;
                        a {
                            color: $main-orange;
                        }
                    }
                    #message-infos {
                        display: none;
                    }
                }
                .lasts-3 {
                    position: relative;
                    height: 320px;
                    overflow-y: scroll;
                    padding-right: 5px;
                    @include scroll-bar();
                    .see-all {
                        width: 100%;
                        position: sticky;
                        bottom: -1px;
                        border-top: 20px solid rgba(255, 255, 255, .7);
                        border-image: linear-gradient(rgba(255, 255, 255, .2), #fff) 100% 0;
                        span {
                            display: flex;
                            width: 100%;
                            height: 44.44px;
                            background: linear-gradient(rgba(255, 255, 255, .9), #fff) 100% 0;
                            padding: 10px 30px 10px 10px;
                            justify-content: flex-end;
                            &:hover {
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                }
                h2 {
                    color: $main-orange;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 515px;
                    textarea {
                        margin-top: 10px;
                        outline: none;
                        padding: 1em;
                        resize: vertical;
                        font-family: "Nunito";
                        font-size: 1em;
                        height: 130px;
                        transition: border 0.2s ease-in-out;
                        border: 1px solid $main-grey;
                        @include scroll-bar();
                        &:focus {
                            border: 1px solid darken($main-grey, 5%);
                        }
                    }
                    .submit {
                        display: flex;
                        margin-top: 10px;
                        input {
                            font-size: 1em;
                        }
                        img {
                            display: none;
                            height: 35px;
                            margin-left: 10px;
                        }
                    }
                }
                .single-comment {
                    list-style: none;
                    background: lighten($product-light, 25%);
                    padding: 1em;
                    position: relative;
                    font-size: 1em;
                    margin: 1em;
                    width: 96%;
                    max-width: 588px;
                    overflow-y: hidden;
                    p {
                        line-height: 1.7;
                        overflow-wrap: break-word;
                    }
                    .date,
                    .user {
                        color: $main-orange;
                        font-weight: bold;
                    }
                }
            } // Related from same Categories
            &:nth-of-type(4) {
                .categories-group {
                    display: flex;
                }
                .categories {
                    margin-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    a {
                        background-color: rgba(242, 153, 74, 0.25);
                        padding: 10px;
                        border-radius: 10px;
                        margin-left: 15px;
                        margin-bottom: 15px;
                        font-weight: bold;
                        color: $main-black;
                        transition: background 0.5s ease;
                        &:hover {
                            background-color: rgba(242, 153, 74, 0.40);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
