@import url("https://fonts.googleapis.com/css?family=Roboto");
urlset {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: #ffffff;
  width: 100%;
  max-width: 100%;
}

urlset url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin: 10px;
  background-color: #fce9d9;
}

urlset url * {
  margin-top: 5px;
}

urlset url:nth-child(even) {
  background-color: #fff;
}

urlset url loc {
  font-weight: bold;
}
