#back-template {
    #media-back {
        .img {
            display: flex;
            img {
                max-width: 250px;
                max-height: 150px;
                width: 250px;
                height: 150px;
                transition: opacity 0.2s ease-in-out;
                &:hover {
                    opacity: 0.5;
                }
            }
            margin-bottom: 10px;
        }
        .col-3 {
            padding-right: 16px;
        }
        .col-6 {
            padding-right: 15px;
        }
        .message {
            >* {
                margin: auto;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            input[type='submit'] {
                font-size: 1em !important;
                margin-bottom: 15px;
            }
            .upload {
                text-align: center;
                margin: 7px;
                border: dashed 4px #d5d1d1;
                min-height: 700px;
                position: relative; //@include customize-boxshadow(5px);
                display: flex;
                flex-direction: column;
                input {
                    &[type='file'] {
                        z-index: -5;
                        margin-top: 3px;
                        margin-left: 3px; //opacity: 0;
                        transition: background 0.4s ease;
                        z-index: 15;
                        &:hover {
                            background: rgba(221, 221, 221, 0.2);
                            cursor: pointer;
                        }
                    }
                }
                #select-file,
                input[type="file"] {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
                #upload-media {
                    visibility: hidden;
                }
                #select-file {
                    z-index: 10;
                    color: $main-orange;
                    display: flex;
                    &:hover {
                        background: rgba(221, 221, 221, 0.2);
                        cursor: pointer;
                    }
                    span {
                        font-size: 2em;
                        display: flex;
                        margin: auto;
                    }
                }
                .filename:not(:empty):before {
                    content: "Fichier sélectionné: ";
                }
                .message {
                    margin-bottom: 15px;
                }
            }
        }
    }
    #media-back,
    #article-edit,
    #product-edit,
    #page-edit,
    #settings-back {

        /* Delete a media */
        #delete_media, #message {
            display: none;
        }
        .media-chosen {
            border: 1px solid #4169E1;
        }

        #message {
            margin-right: 10px;
            text-align: center;
        }

        /* All properties about the Modal */
        #mediaModal {
            .row {
                margin: 0 0 0 10px;
                text-align: center !important;
                background-color: $white;
                [class^="col-"] {
                    padding: 0px 8px 8px 0 !important;
                }
                [class*=col-] {
                    img {
                        width: 130px;
                        max-width: 250px;
                        max-height: 150px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
            .no-collapse {
                img {
                    height: 24px;
                    margin: 27px 18px;
                }
                input {
                    z-index: 1;
                    position: absolute;
                }
            }
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            z-index: 10;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 0;
            border: 1px solid #888;
            width: 90%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            animation-name: animatetop;
            animation-duration: 0.4s
        }
        .close {
            color: $white;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
        .media-file {
            img:hover {
                opacity: 0.5;
            }
        }
        .p-media {
            padding: 8px;
            margin: 1em 0 3em;
        }
        .header-modal {
            background-color: $main-orange;
            padding: 7px 16px;
            margin-bottom: 3px;
        }
        .footer-modal {
            background-color: $main-orange;
            padding: 10px 16px;
            margin-top: 3px;
        }
    }
}
